{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}

{% macro questionEditor(question, answerTypes, answerGroups) %}
<h3 class="govuk-heading-m">Edit Question</h3>
<form id="form-{{ question.contentUuid }}" action="/questions/{{ question.contentUuid }}/update" method="POST">
  {{ govukInput({
    label: {
      text: "Question text",
      classes: "govuk-label--s"
    },
    id:  question.contentUuid + "-question-text",
    name: "question-text",
    value: question.heading
  }) }}
  {{ govukInput({
    label: {
      text: "Help text",
      classes: "govuk-label--s"
    },
    id:  question.contentUuid + "-help-text",
    name: "help-text",
    value: question.helpText
  }) }}
  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="answer-type">
      Type
    </label>
    <select class="govuk-select" id="{{ question.contentUuid }}-answer-type" name="answer-type">
      {% for answerType in answerTypes %}
      <option {{ "selected" if answerType.value === question.type }} value="{{ answerType.value }}">{{ answerType.text }}</option>
      {% endfor %}
    </select>
  </div>
    <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="answer-group">
      Answers group
    </label>
    <select class="govuk-select" id="{{ question.contentUuid }}-answer-group" name="answer-group">
      {% for answerGroup in answerGroups %}
      <option {{ "selected" if answerGroup.value === question.answerGroup }} value="{{ answerGroup.value }}">{{ answerGroup.text }}</option>
      {% endfor %}
    </select>
  </div>
  {{ govukInput({
    label: {
      text: "OASys code",
      classes: "govuk-label--s"
    },
    id:  question.contentUuid + "oasys-question-code",
    name: "oasys-question-code",
    value: question.oasysQuestionCode
  }) }}
  {{ govukInput({
    label: {
      text: "Reference data code",
      classes: "govuk-label--s"
    },
    id:  question.contentUuid + "reference-data-category",
    name: "reference-data-category",
    value: question.referenceDataCategory
  }) }}  
  {{ govukCheckboxes({
    idPrefix: question.contentUuid + "-question-rules",
    name: "question-rules",
    items: [
      {
        value: "mandatory",
        text: "Mandatory",
        checked: question.mandatory
      },
      {
        value: "read_only",
        text: "Read-only",
        checked: question.readOnly
      }
    ]
  }) }}
  {% if question.targets.length %}
  <p class="govuk-label--s">This question is the target of:</p>
  <ul class="govuk-list">
  {% for target in question.targets %}
    <li><a href="#" class="govuk-link">Dependency {{target.dependencyId}}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if question.subjects.length %}
  <p class="govuk-label--s">This question is the subject of:</p>
  <ul class="govuk-list">
  {% for subject in question.subjects %}
    <li><a href="#" class="govuk-link">Dependency {{subject.dependencyId}}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {{ govukButton({
    text: "Update question",
    type: "submit"
  }) }}
  <button id="close-edit-{{question.contentUuid}}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </button>
</form>
{% endmacro %}
