@mixin tile-shadow {
  -webkit-box-shadow: 0 0 govuk-spacing(4) govuk-spacing(1) rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 govuk-spacing(4) govuk-spacing(1) rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 govuk-spacing(4) govuk-spacing(1) rgba(0, 0, 0, 0.3);  
}

.draggable {
    background: govuk-colour("white");
}

.draggable--ghost {
    background-color: govuk-colour("light-grey");
}

.draggable--move {
    @include tile-shadow();
}

.draggable--chosen {    
}